body {
    font-family: "Montserrat", sans-serif;
}

/* Font sizes for smaller devices */
@media (max-width: 800px) {
    main {
        font-size: calc(1rem + 0.6vw);
        margin: calc(3rem + 2vw) calc(5rem + 1vw) calc(3rem + 2vw) calc(1rem + 0.4vw);
    }

    header,#homeRedirection,#buttonRedirection {
        font-size: calc(1.5rem + 0.8vw);
    }

    #homeRedirection, #collapsibleNavbar {
        margin-left: calc(1rem + 0.4vw);
    }

    h1 {
        font-size: calc(1.2rem + 0.8vw);
        margin-bottom: calc(2rem + 1vw);
        font-weight: bold;
    }

    h2 {
        font-size: calc(1.3rem + 0.7vw);
        margin-bottom: calc(1rem + 0.8vw);
        margin-top: calc(0.5rem + 0.8vw);
        font-weight: bold;
    }

    .card {
        font-size: calc(0.8rem + 0.4vw);
    }

    footer {
        font-size: calc(1rem + 0.5vw);
    }

    /* ON and OFF */
    .cards-listed, .navbar-list {
        display: none;
        visibility: hidden;
    }
    .cards-slides, .navbar-collapse {
        display: block;
        visibility: visible;
    }

}

@media (min-width: 800px) {
    main {
        font-size: calc(1rem + 0.6vw);
        margin: calc(4rem + 1vw) calc(5rem + 1vw) calc(5rem + 1vw);
    }
    header {
        font-size: calc(1.5rem + 0.8vw);
    }
    h1 {
        font-size: calc(1.5rem + 0.8vw);
        margin-bottom: calc(2rem + 1vw);
        font-weight: bold;
    }
    h2 {
        font-size: calc(1.4rem + 0.7vw);
        margin-bottom: calc(1rem + 1vw);
        font-weight: bold;
    }
    .card {
        font-size: calc(0.6rem + 0.4vw);
    }

    footer {
        font-size: calc(1.2rem + 0.5vw);
    }

    /* ON and OFF */
    .cards-listed, .navbar-list {
        display: block;
        visibility: visible;
    }
    .cards-slides, .navbar-collapse {
        display: none;
        visibility: hidden;
    }
}

.form-check-input {
    font-size: calc(0.8rem + 0.4vw);
}

.icon {
    width: calc(0.8rem + 0.4vw);
    height: calc(0.8rem + 0.4vw);
}


nav,footer {
    font-family: "Koulen", sans-serif;
}

.montserrat {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-weight: 20;
     font-style: normal;
}

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}




